/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.top-margin{
	margin-top: 30px;
}
.tamanho{

	max-width: 800px!important;
	margin-bottom: 40px;
	text-align: center;
	margin: 0 auto;
}
.top-titulo{
	margin-top: 10px;
}


h3{
	margin-bottom: 40px;
	text-align: center;
}
.corMenu a{
	color: #ccc!important;
}
.corMenu a:hover{
	color: #8c8c8c!important;
}
.nav-item a:hover{
	color: #808080!important;
}