
<div class="container top-margin" ng-controller="apontadoresController">

<h3>{{title}}</h3>
<div style="margin-bottom: 60px;" class="tamanho">


<canvas id="bar" class="chart chart-bar tamanho"
  chart-data="data" chart-labels="labels" chart-series="series">
</canvas>


</div>

</div>