<div class="container" ng-init="inicializar()">

<h2 class="top-margin">Estados brasileiros</h2>

<table class="table top-margin">
  <thead class="table-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Sigla</th>
    </tr>
  </thead>
  <tbody>

    <tr ng-repeat="estado in estadosBr">
      <th scope="row" ng-bind="::estado.ID"></th>
      <td ng-bind="::estado.Nome"></td>
      <td ng-bind="::estado.Sigla"></td>
    </tr>

  </tbody>
</table>

</div>